@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&family=Lora:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Pacifico&family=Quicksand:wght@300;400;500;600;700&family=Spectral:wght@200;300;400;500;600;700;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
         url('/fonts/Satoshi-Variable.woff') format('woff'),
         url('/fonts/Satoshi-Variable.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  /**
  * This is a variable font
  * You can controll variable axes as shown below:
  * font-variation-settings: 'wght' 900.0;
  *
  * available axes:
  
  * 'wght' (range from 300.0 to 900.0)
  
  */
  
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-VariableItalic.woff') format('woff'),
         url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Light';
    src: url('/fonts/Satoshi-Light.woff2') format('woff2'),
         url('/fonts/Satoshi-Light.woff') format('woff'),
         url('/fonts/Satoshi-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('/fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-LightItalic.woff') format('woff'),
         url('/fonts/Satoshi-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('/fonts/Satoshi-Regular.woff') format('woff'),
         url('/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('/fonts/Satoshi-Italic.woff2') format('woff2'),
         url('/fonts/Satoshi-Italic.woff') format('woff'),
         url('/fonts/Satoshi-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('/fonts/Satoshi-Medium.woff') format('woff'),
         url('/fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('/fonts/Satoshi-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('/fonts/Satoshi-Bold.woff') format('woff'),
         url('/fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('/fonts/Satoshi-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('/fonts/Satoshi-Black.woff2') format('woff2'),
         url('/fonts/Satoshi-Black.woff') format('woff'),
         url('/fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-BlackItalic.woff') format('woff'),
         url('/fonts/Satoshi-BlackItalic.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }

body,
html {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

@layer utilities {
    .delay-three {
        animation-delay: 3s;
    }

    .delay-two {
        animation-delay: 2s;
    }

    .delay-four {
        animation-delay: 4s;
    }

    .delay-six {
        animation-delay: 6s;
    }

    .delay-eight {
        animation-delay: 8s;
    }

    .delay-ten {
        animation-delay: 10s;
    }

    .area {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0.5;
        filter: blur(3px);
    }

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        animation: animate 35s linear infinite;
        bottom: -50px;

    }

    .circles li:nth-child(1) {
        left: 25%;
        width: 50px;
        height: 50px;
        background-size: cover;
        animation-delay: 0s;
        background-image: url("/images/hero-icons/calls.svg");
    }


    .circles li:nth-child(2) {
        left: 10%;
        width: 50px;
        height: 50px;
        background-size: cover;
        animation-delay: 15s;
        animation-duration: 0s;
        background-image: url("/images/hero-icons/eat.svg");
    }


    .circles li:nth-child(5) {
        left: 65%;
        width: 50px;
        height: 51px;
        background-size: cover;
        animation-delay: 0s;
        background-image: url("/images/hero-icons/cart.svg");
    }

    .circles li:nth-child(6) {
        left: 75%;
        width: 37px;
        height: 50px;
        background-size: cover;
        animation-delay: 12s;
        background-image: url("/images/hero-icons/lightbulb.svg");
    }

    .circles li:nth-child(7) {
        left: 35%;
        width: 40px;
        height: 50px;
        background-size: cover;
        animation-delay: 20s;
        background-image: url("/images/hero-icons/sim.svg");
    }

    .circles li:nth-child(8) {
        left: 80%;
        width: 50px;
        height: 40px;
        background-size: cover;
        animation-delay: 35s;
        animation-duration: 40s;
        background-image: url("/images/hero-icons/movie.svg");
    }

    .circles li:nth-child(9) {
        left: 50%;
        width: 50px;
        height: 50px;
        background-size: cover;
        animation-delay: 28s;
        animation-duration: 32s;
        background-image: url("/images/hero-icons/travel.svg");
    }

    .circles li:nth-child(10) {
        left: 85%;
        width: 35px;
        height: 35px;
        background-size: cover;
        animation-delay: 0s;
        animation-duration: 8s;
        background-image: url("/images/opay.png");
    }

    .circles li:nth-child(11) {
        left: 29%;
        width: 40px;
        height: 40px;
        background-size: cover;
        animation-delay: 0s;
        animation-duration: 8s;
        background-image: url("/images/firstbank.png");
    }

    @keyframes animate {

        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100% {
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 60%;
        }

    }

    .circles-two {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0.5;
        filter: blur(3px);
    }

    .circles-two li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        animation: animateTwo 35s linear infinite;
        bottom: -50px;

    }

    .circles-two li:nth-child(1) {
        left: 25%;
        width: 50px;
        height: 50px;
        background-size: cover;
        animation-delay: 0s;
        background-image: url("/images/hero-icons/calls.svg");
    }


    .circles-two li:nth-child(2) {
        left: 10%;
        width: 50px;
        height: 50px;
        background-size: cover;
        animation-delay: 15s;
        animation-duration: 20s;
        background-image: url("/images/hero-icons/eat.svg");
    }


    .circles-two li:nth-child(5) {
        left: 65%;
        width: 50px;
        height: 51px;
        background-size: cover;
        animation-delay: 0s;
        background-image: url("/images/hero-icons/cart.svg");
    }

    .circles-two li:nth-child(6) {
        left: 75%;
        width: 37px;
        height: 50px;
        background-size: cover;
        animation-delay: 12s;
        background-image: url("/images/hero-icons/lightbulb.svg");
    }

    .circles-two li:nth-child(7) {
        left: 35%;
        width: 40px;
        height: 50px;
        background-size: cover;
        animation-delay: 20s;
        background-image: url("/images/hero-icons/sim.svg");
    }

    .circles-two li:nth-child(8) {
        left: 80%;
        width: 50px;
        height: 40px;
        background-size: cover;
        animation-delay: 35s;
        animation-duration: 40s;
        background-image: url("/images/hero-icons/movie.svg");
    }

    .circles-two li:nth-child(9) {
        left: 50%;
        width: 50px;
        height: 50px;
        background-size: cover;
        animation-delay: 28s;
        animation-duration: 32s;
        background-image: url("/images/hero-icons/travel.svg");
    }

    .circles-two li:nth-child(10) {
        left: 85%;
        width: 35px;
        height: 35px;
        background-size: cover;
        animation-delay: 0s;
        animation-duration: 8s;
        background-image: url("/images/opay.png");
    }

    .circles-two li:nth-child(11) {
        left: 29%;
        width: 40px;
        height: 40px;
        background-size: cover;
        animation-delay: 0s;
        animation-duration: 8s;
        background-image: url("/images/firstbank.png");
    }

    @keyframes animateTwo {

        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100% {
            transform: translateY(-2500px) rotate(720deg);
            opacity: 0;
            border-radius: 60%;
        }
    }

    .bg-clip-text {
        -webkit-background-clip: text;
        background-clip: text;
    }

    .curved-header {
        clip-path: url(#wave-hero);
    }

    .polygon-header {
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    }
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    /* background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

html {
    font-size: 14px
}

[data-tooltip] {
    position: relative;
    border-bottom: 1px dashed #000;
}

[data-tooltip]::after {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    content: attr(data-tooltip);
    left: 10;
    top: calc(100% + 10px);
    /* border-radius: 40%; */
    /* box-shadow: 0 0 5px 2px rgba(10, 10, 10, 0.6); */
    background-color: white;
    z-index: 10;
    padding: 8px 16px;
    color: #000;
    width: fit-content;
    transform: translateY(-20px);
    transition: all 150ms cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover::after {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 300ms;
}

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
    height: 152px;
    margin-right: 20px;
    width: 152px;
    background-image: url(/images/spritesheet.png);
    background-size: 1076px 1076px;
    position: absolute;
    transition: opacity ease-in-out 1s;
}

.bubbles {
    height: 600px;
    overflow: hidden;
    position: relative;
}

.bubbles-wrapper {
    /* background-color: salmon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.company-1 {
    background-position: -154px 0;
}

.company-2 {
    background-position: -308px 0;
}

.company-3 {
    background-position: -462px 0;
}

.company-4 {
    background-position: -616px 0;
}

.company-5 {
    background-position: -770px 0;
}

.company-6 {
    background-position: -924px 0;
}

.company-7 {
    background-position: -1078px 0;
}

.company-8 {
    background-position: -1232px 0;
}

.company-9 {
    background-position: -1386px 0;
}

.company-10 {
    background-position: -1540px 0;
}

.company-11 {
    background-position: -1694px 0;
}

.company-12 {
    background-position: -1848px 0;
}

/* @keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }

    50% {
        transform: translate(100px);
    }

    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
} */

.heart::after {
    content: "";
    z-index: -1;
    background: gold;
    height: 43px;
    margin-bottom: 16px;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 37px;
    border-radius: 4px;
}

.heart-2::after {
    content: "";
    z-index: -1;
    background: blanchedalmond;
    height: 43px;
    margin-bottom: 16px;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 37px;
    border-radius: 4px;
}

.heart-3::after {
    content: "";
    z-index: -1;
    background: chartreuse;
    height: 43px;
    margin-bottom: 16px;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 37px;
    border-radius: 4px;
}

.heart-3::after {
    content: "";
    z-index: -1;
    background: #C0FC72;
    height: 43px;
    margin-bottom: 16px;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 37px;
    border-radius: 4px;
}

.heart-4::after {
    content: "";
    z-index: -1;
    background: darksalmon;
    height: 43px;
    margin-bottom: 16px;
    left: -1;
    bottom: 0;
    position: absolute;
    width: 39px;
    border-radius: 4px;
}

.heart-5::after {
    content: "";
    z-index: -1;
    background: #B5A6FE;
    height: 43px;
    margin-bottom: 16px;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 37px;
    border-radius: 4px;
}


.logo-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.logo-circles li {
    position: absolute;
    border-radius: 100%;
    display: block;
    list-style: none;
    /* width: 20px;
    height: 20px; */
    animation: rise 35s linear infinite;
    bottom: -150px;

}

.logo-circles li:nth-child(1) {
    border-radius: 50%;
    left: 25%;
    width: 150px;
    height: 140px;
    background-size: cover;
    animation-delay: 0s;
    background-image: url("/images/countries/nigeria.png");
}


.logo-circles li:nth-child(2) {
    left: 10%;
    width: 150px;
    height: 140px;
    background-size: cover;
    animation-delay: 5s;
    animation-duration: 40s;
    background-image: url("/images/countries/kenya.png");
}


.logo-circles li:nth-child(5) {
    left: 75%;
    width: 150px;
    height: 140px;
    background-size: cover;
    animation-delay: 10s;
    animation-duration: 32s;
    background-image: url("/images/countries/uganda.png");
}

.logo-circles li:nth-child(6) {
    left: 50%;
    width: 150px;
    height: 140px;
    background-size: cover;
    animation-delay: 0s;
    animation-duration: 32s;
    background-image: url("/images/countries/angola.png");
}

.logo-circles li:nth-child(7) {
    left: 30%;
    width: 150px;
    height: 140px;
    background-size: cover;
    animation-delay: 12s;
    background-image: url("/images/countries/zambia.svg");
}

.logo-circles li:nth-child(8) {
    left: 65%;
    width: 150px;
    height: 140px;
    background-size: cover;
    animation-delay: 20s;
    /* animation-duration: 40s; */
    background-image: url("/images/countries/ghana.png");
}

.logo-circles li:nth-child(9) {
    left: 45%;
    width: 150px;
    height: 140px;
    background-size: cover;
    animation-delay: 30s;
    animation-duration: 42s;
    background-image: url("/images/countries/benin.png");
}

.logo-circles li:nth-child(10) {
    left: 70%;
    width: 150px;
    height: 140px;
    background-size: cover;
    animation-delay: 28s;
    animation-duration: 40s;
    background-image: url("/images/countries/nigeria.png");
}

/* .logo-circles li:nth-child(11) {
    left: 49%;
    width: 140px;
    height: 140px;
    background-size: cover;
    animation-delay: 8s;
    animation-duration: 30s;
    background-image: url("/images/companies/indrive.png");
} */

/* .logo-circles li:nth-child(12) {
    left: 76%;
    width: 140px;
    height: 140px;
    background-size: cover;
    animation-delay: 0s;
    animation-duration: 40s;
    background-image: url("/images/companies/Bolt_logo.png");
} */

.logo-circles li:nth-child(13) {
    /* left: 29%; */
    /* width: 140px; */
    /* height: 140px; */
    /* background-size: cover; */
    /* animation-delay: 8s; */
    /* animation-duration: 40s; */
    /* background-image: url("/images/companies/travelbeta.jpeg"); */
}

@keyframes rise {

    0% {
        transform: translateY(0);
        /* border-radius: 0; */
    }

    100% {
        transform: translateY(-1000px);
        /* border-radius: 60%; */
    }

}

/* overriding mantine accordion content background color */
.mantine-Accordion-content {
    background-color: white !important;
}

.modal-card {
    filter: drop-shadow(0 25px 30px rgba(0, 0, 0, .13)) !important;
    border: 1px solid hsla(0, 0%, 89.8%, .75);
}

.slanted-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%) !important;
}

/* .heart {
    --c: rgba(128, 128, 128, 0.205);
    width: 200px;
    aspect-ratio: 1;
    background:
     radial-gradient(circle at 60% 65%,var(--c) 64%,#0000 65%) top left/50% 50%,
     radial-gradient(circle at 40% 65%,var(--c) 64%,#0000 65%) top right/50% 50%,
     conic-gradient(from -45deg at 50% 85.5%,var(--c) 90deg,#0000 0) bottom/100% 50%;
    background-repeat: no-repeat;
  } */


  /* ImageSwitcher.css */
.fade-in-out {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in-out.hidden {
    opacity: 0;
  }
  